.add-song-field{
    border-radius: 20px;
    background: #ffffff1c;
    color: white;
    font-weight: 600;
    width: 70%;
    margin-left: 10px;
    height: 100%;
    min-width: 270px;
}

.text{
    font-size: 20px;
    color: white;
}

.add-song-detail{
    width: 30%;
    position: relative;
    height: 1029px;
    min-width: 270px;
    margin-left: 20px;
}
.header-content{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 30px;
    background-color: #000000;
    text-align: left;
    font-size: 20px;
    color: white;
}
.add-song-field .content{
    font-size: 15px;
}
.header-content span{
    margin-left: 10px;
}
#text-song{
    background: #ffffff1c;
    color: white;
}
#text-edit-song{
    border-radius: 0px 0px 20px 20px;
    background: #ffffff1c;
    color: white;
    width: 100%;
    height: 1000px;
    min-width: 270px;
    margin-bottom: -9px;
}

.song-add-container {
    display: flex;
}

.inputs input {
    margin-bottom: 30px;
}
.inputs select {
    margin-bottom: 30px;
}

.inputs-down{
    position: absolute;
    bottom: 0;
}
#note {
    font-size: 20px;
}
#rule-note {
    margin-left: 10px;
}
#artistVariant {
    width: 100%;
    background-color: black;
    margin-top: -30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#artistVariant input {
    width: 100%;
    margin: 0px;
    background-color: black;
    border-color: black;
    border-radius: 10px;
    color: white;
}
.header-content-song {
    display: flex;
    justify-content: space-between;
}
.header-content-song select{
    height: 20px;
    border-radius: 5px;
    margin: 5px;
}
.header-content-song div{
    font-size: 14px;
}
.content-song{
    width: 100%;
}
.song-show{
    display: flex;
}
.song-show .add-song-field{
    border-radius: 0px 0px 20px 20px;
    margin-left: 0px;
}
.panel-action{
    border-radius: 10px;
    background-color: #ffffff3b;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}
.components-action{
    display: flex;
    justify-content: space-between;
}
.components-action input{
    margin: 5px;
    width: 40px;
    border-radius: 10px;
    border-color: white;
}
.components-action span{
    margin: 5px;
}

.panel-iframe{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.panel-iframe span{
    align-self: center;
}
.panel-iframe iframe{
    width: auto;
    height: auto;
}
textarea{
    white-space: pre;
}
.songs-show{
    display: flex;
    flex-direction: column;
}
table, th, td {
    font-size: 20px;
    color: white;
    border: 3px solid black;
}
table td {
    word-break: break-all;
}
.footer-action-page-song{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 20px;
    color: white;
}
.footer-action-page-song span{
    margin-right: 5%;
}
.footer-action-buttons{
    display: flex;
}
.footer-action-buttons{
    width: 20%;
}
.footer-action-button{
    background: black;
    color: white;
    margin-left: 10px;
}

#open_song_action{
    display: flex;
}
#open_song_action a{
    height: 20px;
    margin: 5px;
    font-size: inherit;
    padding: inherit;
}
#open_song_action input{
     height: 20px;
    margin: 5px;
    font-size: inherit;
    padding: inherit;
}
#songs-list input{
    margin: 0px;
}
#songs-list a{
     margin: 0px;
 }

